package templates

templ Index(apiKey string) {
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Golang App</title>
			<script src="https://cdn.tailwindcss.com"></script>
		</head>
		<body>
			<div class="h-screen w-screen bg-black flex items-center justify-center flex-col">
				@Hello("Test")
                @SearchForm()
                @ApiMap(apiKey)
            </div>
		</body>
	</html>
	}
