package templates

templ Index() {
    <html lang="en">
        <head>
            <meta charset="utf-8"/>
            <title>Golang App</title>
        </head>
        <body>
            <div class="h-screen w-screen bg-black flex items-center justify-center flex-col">
                @Hello("Test")
                @ApiMap("")
            </div>
        </body>
    </html>
}
